.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.signup-form label {
  font-weight: bold;
  margin-top: 5px;
}

.signup-form input,
.signup-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: inherit;
}

.signup-form button {
  margin-top: 15px;
}

.signup-form select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: inherit;
  background: white;
}

.logo{
    opacity: 0;
}

.form-link {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.form-link a {
  color: #7c5cff;
  text-decoration: none;
  font-weight: bold;
}

.form-link a:hover {
  text-decoration: underline;
}

small {
  font-size: 12px;
  color: #666;
}
